@import url(fonts.css);
@import url(general.css);

body {
    font-family: "Poppins", "sans-serif";
    overflow-x: hidden;

    display: grid;
    grid-template-columns: 1fr 15rem;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "header header"
        "main nav"
    ;
    transition: grid-template-columns .4s ease, grid-template-rows .4s ease; 
}

body:has(#pageNavToggle:checked) {
    grid-template-columns: 1fr 0;

    & .menu-icon {
        opacity: 1;
        &:hover {
            opacity: 0.6;
        }
    }
}

.page-header {
    padding: .5em 2em;
    height: var(--header-height);
    background-color: var(--primary-blue);
    color: var(--primary-light);

    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;

    position: sticky;
    top: 0;

    & .page-logo {
        object-fit: contain;
        height: 100%;

        &:hover {
            filter: saturate(300%);
        }
    }

    & #pageNavToggle {
        display: none;
    }

    & .page-nav-toggle {
        aspect-ratio: 1;
        height: 30px;
        cursor: pointer;
    }

    & .menu-icon {
        /* transition: opacity .3s ease; */
        opacity: 0.6;
        transition: filter .2s ease;
        &:hover {
            filter: blur(1px);
        }
    }

}

.page-nav {
    grid-area: nav;

    color: white;
    height: calc(100dvh - var(--header-height));
    overflow: hidden;
    background-color: #222;
    padding: 1.5em 0;
    font-weight: 200;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: var(--header-height);

    & > ul {
        display: flex;
        flex-direction: column;
        gap: 32px;

        width: 100%;
    }

    & .page-nav--links {
        display: flex;
        align-items: center;
        gap: 32px;

        padding: 1em 2em;
        border-radius: 8px;
        width: 100%;

        position: relative;
        z-index: 1;
        overflow: hidden;

        &::before {
            content: "";
            opacity: 0;
            width: 100%;
            height: 100%;
            background-color: var(--primary-blue);
            transition: opacity .3s ease, transform .3s ease;
            position: absolute;
            top: 0;
            right: 100%;
            z-index: -1;
        }

        &:not(:active):hover::before {
            opacity: 1;
            transform: translateX(100%);
        }
    }

    & .nav-icons {
        aspect-ratio: 1;
        width: 1.2em;
    }

    & .reg-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;

        width: 100%;

        & a[id] {
            font-weight: 500;
            background-color: var(--primary-blue);

            width: 10rem;
            border-radius: 30px;
            padding: .5em .75em;
            text-align: center;

            position: relative;
            overflow: hidden;
            z-index: 1;

            transition: color .4s ease;

            &::before {
                content: "";
                opacity: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                transition: opacity .3s ease, transform .3s ease;
                position: absolute;
                top: 0;
                right: 100%;
                z-index: -1;
            }

            &:not(:active):hover {
                color: var(--primary-blue);
            }

            &:not(:active):hover::before {
                opacity: 1;
                transform: translateX(100%);
            }
        }
    }
}
.main-content {
    grid-area: main;
    padding: 1.2em;

    & .intro-title {
        font-size: 3rem;
        margin: 2rem 0;
    }

    & .text-container {
        margin: 0 auto;
    }
}


