@import url(fonts.css);

:root {
    --primary-blue: #1a3486;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    font-family: "Poppins", "sans-serif";
    font-weight: 300;
    display: grid;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "main"
    ;

    @media (width <=900px) {
        grid-template-columns: 1fr 200px;
        grid-template-rows: min-content 1fr;
        grid-template-areas: 
            "header header"
            "main nav"
        ;
    }
}

body#noNav {
    grid-template-rows: min-content 0 1fr;
        
    @media (width <= 900px) {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        grid-template-rows: min-content 1fr; /* Ajusta el layout */
        grid-template-areas: 
            "header"
            "main";
    }

    & .page-nav, & .page-nav li {
        display: none;
        padding: 0;
        margin: 0;
    }
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

a {
    text-decoration: none;
}

.page-header {
    padding: 10px 30px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: var(--primary-blue);
    color: white;

    /* & .page-title {
        text-align: center;
        flex-grow: 1;
    } */

    & .page-logo {
        object-fit: contain;
        height: 100%;
    }

    & .menu-icon {
        aspect-ratio: 1;
        width: 30px;
        box-shadow: none;
        transition: opacity .3s ease;
        &:hover {
            opacity: 0.6;
        }
    }
    & .menu-icon.active {
        box-shadow: 5px 5px 5px black;
    }

}

.page-nav {
    height: 100%;
    overflow: hidden;
    background-color: #222;
    grid-area: nav;
    padding: 30px 0;
    font-weight: 200;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    transition: width .3s ease;

    & a {
        color: white;
    }

    & > ul {
        list-style-type: none;
        display: flex;
        gap: 20px;

        & > li {
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 20px;
            transition: all .3s ease;
            padding: 10px 20px;
            &:hover {
                background-color: var(--primary-blue);
            }
        }

    }

    & .nav-icons {
        aspect-ratio: 1;
        width: 22px;
    }

    & .reg-buttons {
        display: flex;
        gap: 30px;
        padding: 0 20px;
        & a[id] {
            font-weight: 500;
            background-color: var(--primary-blue);
            border-radius: 30px;
            padding: 10px 15px;
            text-align: center;
            transition: all .5s ease;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:not(:active):hover {
                color: var(--primary-blue);
            }

            &:not(:active):hover::before {
                transform: translateX(100%);
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: white;
                transition: transform .5s ease;
                position: absolute;
                top: 0;
                right: 100%;
                z-index: -1;
            }
        }
    }

}
@media (width <= 900px) {
     .page-nav {
        justify-content: space-between;
        & li > a {
            font-size: 14px;
        }
    }

    .page-nav, .page-nav > ul, .page-nav .reg-buttons {
        flex-direction: column;
    }
}

.main-content {
    grid-area: main;
    padding: 20px;
    & .intro-title {
        font-size: 50px;
        margin: 30px 0;
    }

    & .text-container {
        margin: 0 auto;
    }
}


